<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Welcome to Shipfast</title>
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
	.product-list {
		margin-top: 25px;
	}

	.product-list .product {
		border: 1px solid #eee;
		border-radius: 3px;
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;
		min-height: 300px;
	}

	.product-list .product .product-info {
		min-height: 220px;
	}

	.product-info button {
		border:0;
		background:none;
	}
</style>

<script>
	function buyItem(id, quantity) {
		return $.ajax({
			type: 'POST',
			url: '/api/place_order',
			dataType: 'json',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			data: JSON.stringify({
				id: id,
				quantity: quantity
			})
		}).done(function(response) {
			showSuccess('Order successfully placed!');
		}).fail(function(e) {
			console.log(e);
			showFailure('Failed to place an order!');
		});
	}

	function showSuccess(msg) {
		console.log(msg);
	}

	function showFailure(msg) {
		console.error(msg);
	}
</script>

<div class="row" th:if="${!available}">
	<h3 class="text-center">Unable to list inventory</h3>
	<h5 class="text-center">Please try again in a little while!</h5>
</div>

<div class="row product-list" th:if="${available}">
	<div class="col-sm-3 col-xs-6" th:each="item : ${inventory}">
		<div class="product">
			<div class="product-info">
				<button type="submit" name="imageSubmit" th:value="${item.id}">
					<img th:src="${item.image}"
						 class="img-responsive tb-center tb-maxheight-115" alt="..."/>
				</button>
				<p class="primary-font" th:text="${item.name}"></p>
				<p class="text-muted" th:text="${item.id}"></p>
			</div>
			<div class="btn-group product-action">
				<button type="submit" name="Add to cart" class="btn btn-primary cart-btn"
						th:onclick="|buyItem('${item.id}', '1')|">
					<i class="fa fa-shopping-cart"></i>Buy Now!
				</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
